.main-heading {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: purple;
}


.navbar ul li {
    display: inline;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(168, 109, 168);
    padding: 26px;
    font-size: 20px;
}

.navbar ul li a:hover{
    color: purple;
    text-decoration: underline;
}

/* .navbar {
    background-color: red;
} */

.login-button {
    padding: 10px;
    margin-left: 700px;
    background-color: rgb(168, 109, 168);
    border-radius: 10px;
}

.login-button a.log-text{
    color: white;
}

.login-button:hover {
    background-color: rgb(139, 48, 113);
}

.login-button a.log-text:hover {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    background-color: grey;
    height: 200px;
    margin-top: 90%;
}

footer li{
    list-style: none;
    margin: 5px;
    
    padding: 10px;
}

footer li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}